@page
@model FIZZBUZZ2.Pages.AddressModel
@{
    <p>Dane w zapisane w sesji</p>
    @if (Model.Address != null)
    {
<p>
    @Html.DisplayNameFor(model => Model.Address.Street):
    <span asp-validation-for="Address.Street" class="text-danger"></span>
    @Model.Address.Street
</p>
    <p>
        @Html.DisplayNameFor(model => Model.Address.City):
    @Model.Address.City
</p>
<p>
    @Html.DisplayNameFor(model => Model.Address.Number):
@Model.Address.Number
</p>
<p>
    @Html.DisplayNameFor(model => Model.Address.ZipCode):
@Model.Address.ZipCode
</p>
}
}
